<section class="gradient-custom">
    <div class="container py-5">
        <div class="row">

            <!-- Groups List -->
            <section class="gradient-custom">
                <div class="container py-5">
                    <div class="row">
                        <!-- Groups List -->
                        <div class="col-md-4 col-lg-3 col-xl-3">
                            <h5 class="font-weight-bold mb-3 text-center text-white">Groups</h5>
                            <div class="card mask-custom">
                                <div class="card-body">
                                    <div id="createGroupContainer" *ngIf="isAllowedToCreateGroup">
                                        <button (click)="openCreateGroupModal()">Create Group</button>
                                    </div>
                                    <ul class="list-unstyled mb-0">
                                        <li *ngFor="let group of groupNames" class="group-list-item">
                                            <span (click)="onGroupNameClick($event, group)">{{ group }}</span>
                                            <button type="button" *ngIf="!isAllowedToCreateGroup"
                                                (click)="registerInterest($event, group)">
                                                Register Interest
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
            
                        <!-- Chat Section -->
                        <div class="col-md-8 col-lg-9 col-xl-9">
                            <!-- Dropdown to select a channel -->
                            <div class="chat-dropdown">
                                <select [(ngModel)]="selectedChannel" (change)="selectChannel(selectedChannel)">
                                    <option value="">Select a Channel</option>
                                    <option *ngFor="let channel of channelsForSelectedGroup" [value]="channel">{{ channel }}
                                    </option>
                                </select>
                            </div>
            
                            <!-- Chat Messages -->
                            <div class="chat-messages">
                                <div class="portlet-body chat-widget" style="overflow-y: auto; width: auto; height: 300px;">
                                    <div *ngFor="let message of messages[selectedChannel]" class="chat-message">
                                        <div class="media">
                                            <div class="media-body" [innerHTML]="message"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-footer">
                                    <img [src]="'http://localhost:3000/images/' + imagepath" *ngIf="imagepath" alt="Uploaded Image"
                                        class="img-responsive">
                                    <form role="form">
                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="Enter message..." type="text"
                                                [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="file" class="form-control" (change)="onFileSelected($event)"
                                                name="uploadfile" id="uploadfile" />
                                            <button class="btn btn-primary" type="button" (click)="onUpload()">Send photo</button>
                                            <button type="button" (click)="chat()" class="btn btn-default pull-right">Send</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Create group Modal -->
                <div *ngIf="isModalOpen" class="modal">
                    <div class="modal-content">
                        <span class="close" (click)="closeCreateGroupModal()">&times;</span>
                        <h2>Create Group</h2>
                        <form [formGroup]="createGroupForm">
                            <label for="group">Group Name:</label>
                            <input type="text" id="group" formControlName="group" required>
                            <button type="button" (click)="closeCreateGroupModal()">Cancel</button>
                            <button type="button" (click)="createGroup()">Create</button>
                        </form>
                    </div>
                </div>
            </section>