<ng-template [ngIf]="valid">
    <h2> Edit Details: </h2>
    <div class="loginContainer">
        <div class="loginForm">
            <form>
                <div class="form-group">
                    <label for="avatar">Avatar</label>
                    <input type="file" (change)="onAvatarSelected($event)" class="form-control" id="avatar">
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="username" [(ngModel)]="username" name="username" class="form-control" id="username"
                        placeholder="Enter username">
                </div>
               
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email"
                        placeholder="Enter username">
                </div>
                <button type="submit" class="btn btn-primary" (click)="saveDetails()"> Save</button>
            </form>
        </div>
    </div>
</ng-template>